$main-color: #2e2d2c;

$font-title: #eee2d1;
$font-header-secondary: #e2c062;
$font-header-tertiary: #f5dbab;

$font-main: #333232;
$font-secondary: #575d61;
$font-tertiary: #6b5a2c;

$block-bg: #f9feff;
$misc-elements: #c2c2c2;

body
{
	// For the pdf to be highlightable, this font needs to be on the system during pdf creation
	font-family: Barlow, sans-serif;
	color: $font-main;
	
	break-after: page;

	margin: 0;
}

html
{
	font-size: 14px;
}

*
{
	box-sizing: border-box;
}

.header
{
	background: $main-color;
	padding: 0.75rem;
	padding-right: 1rem;
	
	position: relative;
	display: table;
	width: 100%;
	
	.row
	{
		display: table-row;
		
		*
		{
			display: table-cell;
			vertical-align: middle;
		}
		
		:nth-child(2)
		{
			text-align: right;
		}
		
		h1
		{
			color: $font-title;
			font-size: 1.5rem;
		}
		
		h2
		{
			color: $font-header-secondary;
			font-size: 1rem;
			font-weight: normal;
		}
		
		h3
		{
			color:$font-header-tertiary;
			font-size: 0.75rem;
			font-weight: normal;
		}
	}
	
	&::before
	{
		content: '';
		
		position: absolute;
		top: -0.1rem;
		right: -0.1rem;
		
		$border-width-before: 0.85rem;
		
		border: $border-width-before solid white;
		border-left: $border-width-before solid transparent;
		border-bottom: $border-width-before solid transparent;
	}
}

.block
{
	padding: 0.25rem 0.75rem 0.5rem 0.5rem;
	
	background: $block-bg;
	
	position: relative;
	
	$border-width: 3px;
	$border-width-before: 0.75rem;
	$border-width-after: $border-width-before + 0.1rem;
	$border-width-after-first: $border-width-before - 0.1rem;
	
	border-top: $border-width solid $main-color;
	border-right: $border-width solid $main-color;
	border-left: $border-width-before solid $main-color;

	&:last-child
	{
		border-bottom: $border-width solid $main-color;
	}
	
	line-height: 1.35;

	h4, h6, ul
	{
		font-size: 1rem;
		margin: 0.1rem 0;
	}
	
	h6
	{
		font-weight: bold;
		color: $font-tertiary;
	}
	
	&::before
	{
		content: '';
		
		position: absolute;
		top: 0;
		right: 0;
	
		border: $border-width-before solid $main-color;
		border-left: $border-width-before solid transparent;
		border-bottom: $border-width-before solid transparent;
	}
	
	&:not(:first-child)::after
	{
		content: '';
		
		position: absolute;
		top: $border-width * -2;
		right: 0;
		z-index: 2;
	
		border: $border-width-after solid $block-bg;
		border-left: $border-width-after solid transparent;
		border-bottom: $border-width-after solid transparent;
	}
	
	.row
	{
		*
		{
			display: inline;
		}
		
		.project-name
		{
			font-style: italic;
		}
		
		.extra-info
		{
			color: $font-secondary;
			float: right;
			
			.info-divider
			{
				color: $misc-elements;
			}
		}
	}
	
	.skills
	{
		color: $font-main;
		font-weight: 600;
	}
	
	ul
	{
		list-style: none;
		
		padding-left: 0.5rem;
		
		li::before
		{
			content: '> ';
			color: $misc-elements;
		}
	}
}