$main-color: #2e2d2c;

$font-title: #eee2d1;
$font-header-secondary: #e2c062;
$font-header-tertiary: #f5dbab;

$font-main: #333232;
$font-secondary: #575d61;
$font-tertiary: #6b5a2c;

$block-bg: #f9feff;
$misc-elements: #c2c2c2;

$doc-bg: #c2c2c2;

body
{
	// For the pdf to be highlightable, this font needs to be on the system during pdf creation
	font-family: "PT Serif", serif;
	color: $font-main;
	
	break-after: page;

	margin: 0;

	@media screen
	{
		padding: 2rem;
		background-color: white;
	}
}

html
{
	@media screen
	{
		@media (width > 1024px)
		{
			margin: 0 20vw;
		}
		background-color: $doc-bg;
	}

	font-size: 15px;
}

*
{
	box-sizing: border-box;
}

.header
{
	h1
	{
		margin: 0.25em 0;
	}
	
	.row
	{
        text-align: center;
        display: table;
        width: 100%;

        &.contacts
        {
            display: flex;
            justify-content: center;
            align-items: center;

            span
            {
                margin-right: 1em;
            
                &:not(:first-child)::before
                {
                    content: "✦";
                    margin-right: 1em;
                }
            }
        }
	}
}

.block
{
	margin-top: 1rem;
	padding-top: 0.25rem;
	position: relative;

	&::before
	{
		content: "";
		position: absolute;
		border-top: 1.5px solid black;
		left: 15%;
		right: 15%;
		top: -1.5px;
	}

	&::after
	{
		content: '✦';
		position: absolute;
		left: 50%;
		top: -0.75em;
		transform: translateX(-50%);
		background: white;
		padding: 0 1rem;
	}

	.section-header
	{
		margin: 5px 0;
	}

	.same-line {
		display: inline;
	}
	
	.row
	{
		*
		{
			display: inline;
		}
		
		.project-name
		{
			font-size: 1em;
			margin: 0;
		}
		
		.extra-info
		{
			float: right;

			.info-divider
			{
				margin: 0 0.125rem;

				&::before
				{
					content: "✦";
				}
			}
		}
	}
	
	.skills
	{
		font-weight: bold;
	}
	
	ul
	{
		list-style: none;
		margin: 3px 0;
		
		padding-left: 1rem;
		
		li::before
		{
			content: '✦ ';
		}
	}
}